<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongo API</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/swagger-ui/dist/swagger-ui.css"
    />
    <script src="/static/swagger-ui/dist/swagger-ui-bundle.js"></script>
    <script src="/static/swagger-ui/dist/swagger-ui-standalone-preset.js"></script>
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script>
      window.onload = function () {
        // Begin Swagger UI call region
        const ui = SwaggerUIBundle({
          url: "{{ url_for('api') }}",
          dom_id: "#swagger-ui",
          deepLinking: true,
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset.slice(1),
          ],

          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: "StandaloneLayout",
        });
        // End Swagger UI call region

        window.ui = ui;
      };
    </script>
  </body>
</html>
